.container {
  height: 50px;
  background-color: var(--m);
  color: var(--w);
  padding: 0 15%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.home {
  cursor: pointer;
}
