.container {
  color: var(--g);
  background-color: var(--w);
  width: 70vw;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 25%;
  font-size: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.input {
  width: 350px;
  padding: 10px 20px;
  border: 1px solid var(--g);
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}

button {
  color: var(--w);
  border-radius: 25px;

  width: 125px;
  height: 50px;
  background-color: var(--m);
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    opacity: 0.9;
  }
}

.dissabled_button {
  background-color: var(--g);
  &:hover {
    opacity: 1;
  }
}

.header {
  margin-top: 20px;
  margin-right: 150px;
  color: var(--m);
  font-size: 30px;
  font-weight: 700;
}
