:root {
  --m: hwb(353 33% 4%);
  --m2: hwb(353 41% 3%);
  --back: #f5ece4;
  --b: hsl(248, 15%, 29%);
  --g: hsl(248, 15%, 70%);
  --g2: hsl(250, 17%, 93%);
  --g3: hsl(248, 15%, 95%);
  --w: hwb(0 100% 0%);
}
